body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

.user {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  cursor: pointer;
}

.user:nth-child(odd) {
  background-color: #F4F5F7;
}

.user:hover {
  background-color: #E6EFFF;
  transition: 0.3s;
}

.avatar {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.user-info {
  height: 50px;
  flex-grow: 1;
}

.user-name {
  font-size: 1.1rem;

}

.user-info .online {
  font-size: 0.9rem;
  color: rgb(99, 99, 99)
}

.user .status {
  width: 90px;
  text-align: center;
}

.user:hover {
  background-color: #E6EFFF;
}

.user:hover .avatar {
  background-color: rgb(7, 142, 204);
  transition: 0.3s;
}

.user:hover .user-name {
  font-weight: 450;
  transition: 0.3s;
}

.conversation {
  background-color: rgb(199, 199, 199);
  padding: 24px;
  height: 75vh;
  overflow: auto;
}

.message {
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 6px;
  width: max-content;
  max-width: 60%;
  font-size: 0.9rem;
}

.img-message {
  border-radius: 8px;
  margin-bottom: 12px;
  width: max-content;
  max-width: 50%;
}
.img-message img {
  max-width: 100%;
  border-radius: 12px;
}
.img-message img:hover {
   opacity: 0.85;
}

.outgoing__message{
  border-radius: 10px;
  background-color: #DBEAFE;
  margin-left: auto;
  margin-right: 0;
  transition: 0.5s;
}

.outgoing__message:hover {
  background-color: #b4cbe9;
  transition: 0.5s; 
}

.incoming__message{
  border-radius: 10px;
  background-color: white;
  transition: 0.5s;
}

.incoming__message:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.5s;
}

.message__info{
  border-radius: 20%;
  transition: width 5s, height 5s;
}

.time_date {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(148, 148, 148);
  margin-left: auto;
  margin-right: 0;
}

.message__author{
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.message_form {
  border-top: 1px solid rgb(190, 190, 190);
  display: flex;
  position: relative;
}

.fallback {
    background-color: rgb(242, 251, 255);
    border-radius: 4px;
    /* padding: 4px 8px; */
    width: fit-content;
    font-size: 0.7em;
    position: absolute;
    top: -25px;
    left: 2px;
}

.message_form input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 8px 16px;
}

.message_form input[type="text"]:focus {
  border: none;
  outline: none;
  transition: 0.3s;
} 

.message_form a{
  text-decoration: none;
  padding: 8px;
  margin: 8px;
}
.message_form a:hover{
  background-color: rgb(215, 229, 255);
  border-radius: 4px;
}

.user .actions {
   color:rgb(161, 161, 161);
   font-size: 1.2rem;
}
.user .actions i {
   display: inline-block;
    border-radius: 8px;
   padding: 12px;
}
.user .actions i:hover {
   display: inline-block;
   color:rgb(128, 128, 128);
   background-color: rgb(215, 229, 255);
   transition: 0.3s;
}

* {
  box-sizing: border-box;
}

.user {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  cursor: pointer;
}

.user:nth-child(odd) {
  background-color: #F4F5F7;
}

.user:hover {
  background-color: #E6EFFF;
  transition: 0.3s;
}

.avatar {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.user-info {
  height: 50px;
  flex-grow: 1;
}

.user-name {
  font-size: 1.1rem;
}

.user-info .online {
  font-size: 0.9rem;
  color: rgb(99, 99, 99)
}

.user .status {
  width: 90px;
  text-align: center;
}

.user:hover {
  background-color: #E6EFFF;
}

.user:hover .avatar {
  background-color: rgb(7, 142, 204);
  transition: 0.3s;
}

.user:hover .user-name {
  font-weight: 450;
  transition: 0.3s;
}